@model Strongholds.ViewModels.GameView
@{
    ViewData["Title"] = "Play";
}

<div class="row justify-content-center">
    <div class="col-md-10">

        <div class="accordion" id="accordionFlushExample">
            
            @{/* ROBOTS */}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Robots
                      </button>
                </h2>

                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" >
                    <div style="display:flex;flex-wrap:wrap;">
                    @{/* Robot Cards */}
                    @foreach(StrongholdsUtil.Models.Robot r in @Model.MyRobots)
                    {
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                            <h5 class="card-title" style= "display:flex; justify-content: space-between;">
                                @r.Name 
                                <a href=#>
                                    <span class="badge bg-primary">Edit</span>
                                </a>
                            </h5>
                
                            <p class="card-text">A heafty lil guy</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b>ID:</b> @r.RobotID</li>
                                <li class="list-group-item"><b>Status:</b> @r.Status</li>
                                <li class="list-group-item"><b>Location:</b> (@r.Latitude, @r.Longitude)</li>
                                <li class="list-group-item"><b>Battery:</b> @r.Battery</li>
                                <li class="list-group-item"><b>Memory:</b> @r.Memory</li>
                                <li class="list-group-item"><b>Speed:</b> @r.Speed</li>
                            </ul>
                            <div class="card-body">
                            <a class="card-link" asp-action="NewMission" asp-route-robotID="@r.RobotID">Send on Mission</a>
                            <span href="#" class="card-link">Upgrade</span>
                            </div>
                        </div>
                    }
                    </div>
                </div>
            </div>

            @{/* Missions */}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Missions
                    </button>
                </h2>
            </div>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div style="display:flex;flex-wrap:wrap;">
                @{/* Mission Cards */}
                @foreach(StrongholdsUtil.Models.Mission m in @Model.MyMissions)
                {
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title" style= "display:flex; justify-content: space-between;">
                            @m.Robot.Name 
                        </h5>
                    
                        <p class="card-text">On a dangerous mission...</p>
                        </div>
                        <ul class="list-group list-group-flush">

                                @{if (m.Objectives.Count > 0){
                                    <li class="list-group-item"><b>Objective:</b> @m.Objectives[0].Action (@m.Objectives[0].Latitude, @m.Objectives[0].Longitude)</li>
                                }
                                }

                            <li class="list-group-item"><b>Current Location:</b> (@m.Robot.Latitude, @m.Robot.Longitude)</li>
                        </ul>
                    </div>
                }
                </div>
            </div>

        </div>

    </div>
</div>


